.app.dark {
    --bg-color: #282c34;
    --inverted-bg-color: #fafafa;

    --primary-color: #fac863;
    --secondary-color: #ffffff;
    --inverted-primary-color: #002984;
    --inverted-secondary-color: #212121;
}