:root {
    --bg-color: #fafafa;
    --inverted-bg-color: #282c34;

    --primary-color: #002984;
    --secondary-color: #212121;
    --inverted-primary-color: #fac863;
    --inverted-secondary-color: #ffffff;
}